<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANASPORTS</title>
        <link rel="stylesheet" href="./src/public/css/address.css">
        <link rel="stylesheet" href="./src/public/font/themify-icons-font/themify-icons/themify-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
	<div class="container">
        <div class="row justify-content-around">
            <nav  >
                <ol class="breadcrumb mt-3" style="background-color: #fff;">
                    <li class="breadcrumb-item"><a href="#" class="text-decoration-none " style="color: #000000;">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-decoration-none " style="color: #000000;">Tài khoản</a></li>
                    <li class="breadcrumb-item active " aria-current="page"><a href="#" class="text-decoration-none" style="color: #415EC6;">Sổ địa chỉ</a></li>
                </ol>
            </nav>
        </div>
    </div>      
    <div class="container">
        <div class="row justify-content-around">
            <div class=" card py-2  col-md-3 "style="background-color: #E8EBF4;">
                <div class="row px-5 pt-5">
                    <div class="bi bi-person-bounding-box col-4" style="font-size: 45px; color: #5974D4">
                    </div>
                    <div class="col-8 pt-2">
                        <h5 >bana123</h5>
                        <div class="row">
                            <a href="#" class="" style="font-size: 13px; color: #068F70;">Thêm ảnh<span class="bi bi-pen col-1" style="font-size: 13px; color: #000000;"></span></a>
                        </div>
                    </div>
                </div>
                <hr class="hr-about container col-8 ">
                <ul class="nav flex-column" >
                    <li class="nav-item"><a class="nav-link  " style="color: #000000;" href="#"><span class="bi bi-person mx-3"></span><b>Tài khoản của tôi</b></a></li>
                    <li class="nav-item "><a class="nav-link  mx-5" style="color: #000000;" href="#">Hồ sơ</a></li>
                    <li class="nav-item"><a class="nav-link  mx-5 active" style="color: #000000;" href="#">Sổ địa chỉ</a></li>
                    <li class="nav-item"><a class="nav-link  " style="color: #000000;" href="#"><span class="bi bi-credit-card mx-3"></span><b>Lịch sử mua hàng</b></a></li>
                </ul>
                <div class="p-4 text-center">
                <button type="button" class="btn bi bi-box-arrow-right" style="background-color: #068F70; color: #fff;">Đăng ký</button>
                </div>
            </div>
            <div class=" card py-2 col-md-8"  style="background-color: #E8EBF4;">
                <div class=" p-5 row" >
                    <h2 class="text-center" style="color: #415EC6"><b>Địa chỉ của tôi</b></h2>
                    <div class="col-9 p-2" >
                        <p><b>Nguyên Ngọc</b><span> | </span> (+84) 91 686 43 76</p>
                        <p>Trường Đại học Công nghệ Thông tin, ĐH QG  TP. HCM, Phường Linh Trung, TP. Thủ Đức, TP. Hồ Chí Minh</p>
                        <button type="button" class="btn" style="border-color: #6D87E3; color: #6D87E3; border-radius: 20px; font-size: 13px;">Mặc định</button>
                    </div>
                    <div class="bt col-3 pt-5">
                        <a href="#" class=" mb-2 justify-content-center d-flex" style="font-size: 13px; color: #068F70; font-style: italic;">Thay đổi</a>
                        <button type="button" class="btn active" style="border-color: #6D87E3; color: #6D87E3; border-radius: 20px; font-size: 13px;">Đặt làm mặc định</button>
                    </div>
                    <hr class="hr-about container col-10 ">
                    <div class="col-9 p-2" >
                        <p><b>Đức Hậu</b><span> | </span> (+84) 82 271 75 68</p>
                        <p>KTX Khu A, ĐH QG TP. HCM, khu phố 6, Phường Linh Trung, TP. Thủ Đức, TP. Hồ Chí Minh</p>
                    </div>
                    <div class="bt col-3 pt-5">
                        <a href="#" class=" mb-2 justify-content-center d-flex" style="font-size: 13px; color: #068F70; font-style: italic;">Thay đổi</a>
                        <button type="button" class="btn" style="border-color: #6D87E3; color: #6D87E3; border-radius: 20px; font-size: 13px;">Đặt làm mặc định</button>
                    </div>
                </div>
            </div>
        </div>
       
        
    </div>
   
</body>
</html>