<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANASPORTS</title>
        <link rel="stylesheet" href="./src/public/css/history.css">
        <link rel="stylesheet" href="./src/public/font/themify-icons-font/themify-icons/themify-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
	<div class="container">
        <div class="row">
            <nav  >
                <ol class="breadcrumb mt-3" style="background-color: #fff;">
                    <li class="breadcrumb-item"><a href="#" class="text-decoration-none " style="color: #000000;">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-decoration-none " style="color: #000000;">Tài khoản</a></li>
                    <li class="breadcrumb-item active " aria-current="page"><a href="#" class="text-decoration-none" style="color: #415EC6;">Lịch sử mua hàng</a></li>
                </ol>
            </nav>
        </div>
    </div>      
    <div class="container">
        <div class="row justify-content-around">
            <div class=" card py-2  col-md-3 "style="background-color: #E8EBF4;">
                <div class="row px-3 pt-5 ">
                    <div class="bi bi-person-bounding-box col-4" style="font-size: 45px; color: #5974D4">
                    </div>
                    <div class="col-8 pt-2">
                        <h5 >bana123</h5>
                        <div class="row">
                            <a href="#" class="" style="font-size: 13px; color: #068F70;">Thêm ảnh<span class="bi bi-pen col-1" style="font-size: 13px; color: #000000;"></span></a>
                        </div>
                    </div>
                </div>
                <hr class="hr-about col-8 ">
                <ul class="nav flex-column" >
                    <li class="nav-item"><a class="nav-link  " style="color: #000000;" href="#"><span class="bi bi-person mx-3"></span><b>Tài khoản của tôi</b></a></li>
                    <li class="nav-item "><a class="nav-link  mx-5" style="color: #000000;" href="#">Hồ sơ</a></li>
                    <li class="nav-item"><a class="nav-link  mx-5" style="color: #000000;" href="#">Sổ địa chỉ</a></li>
                    <li class="nav-item"><a class="nav-link  active " style="color: #000000;" href="#"><span class="bi bi-credit-card mx-3"></span><b>Lịch sử mua hàng</b></a></li>
                </ul>
                <div class="p-4 text-center">
                    <button type="button" class="btn bi bi-box-arrow-right" style="background-color: #068F70; color: #fff;">Đăng ký</button>
                </div>    
            </div>
            <div class=" card py-2 col-md-8"  style="background-color: #E8EBF4;">
                <h2 class="text-center p-5" style="color: #415EC6"><b>Lịch sử mua hàng</b></h2>
                <div class=" px-5" >
                    <div class="row ">
                        <div class=" col-2 ">
                            <div class="product" >
                                <a href="#" class="img-prod "><img class="img-fluid  d-block" src="./view/src/public/img/Rectangle36.png" alt="Colorlib Template">			
                                </a>
                            </div>
                        </div>
                        <div class="pricing col-1 ">
                            <p class="quantity mt-5 d-flex justify-content-center">2</span></p>
                        </div>
                        <div class="text col-6 px-3 mt-3" style="list-style-type: none;">
                            <li><a href="#"  class="card-name" style="text-decoration: none; color: #000000;"><b>Áo khoác nữ ANTA màu tím</b></a></li>
                            <li><span class="size">S</span><span> / </span><span class="color">Màu tím</span></li>
                            <li class="price"><span class="mr-2 price-dc">1.220.000<span style="text-decoration: underline;">đ</span></p>
                        </div>
                        <div class="pricing col-2 ">
                            <p class="s-price"><span class="price-dc mt-5 d-flex" style="color: #6D87E3;font-size: 20px;">2.440.000<span style="text-decoration: underline;">đ</span></span></p>
                        </div>
                        <hr class="hr-about container col-11 ">
                    </div>
                    <div class="row ">
                        <div class=" col-2 ">
                            <div class="product" >
                                <a href="#" class="img-prod "><img class="img-fluid  d-block" src="./view/src/public/img/Rectangle13(13).png" alt="Colorlib Template">
                                </a>
                            </div>
                        </div>
                        <div class="pricing col-1 ">
                            <p class="quantity mt-5 d-flex justify-content-center">1</span></p>
                        </div>
                        <div class="text col-6 px-3 mt-3" style="list-style-type: none;">
                            <li><a href="#"  class="card-name" style="text-decoration: none; color: #000000;"><b>Quần short tập luyện nam REEBOK</b></a></li>
                            <li><span class="size">M</span><span> / </span><span class="color">Màu xanh</span></li>
                            <li class="price"><span class="mr-2 price-dc">835.000<span style="text-decoration: underline;">đ</span></p>
                        </div>
                        <div class="pricing col-2 ">
                            <p class="s-price"><span class="price-dc mt-5 d-flex" style="color: #6D87E3;font-size: 20px;">2.440.000<span style="text-decoration: underline;">đ</span></span></p>
                        </div>  
                        <hr class="hr-about container col-11 ">
                    </div>
                    <p class=" text-right pr-5" style="color: #6D87E3; font-size: 20px;">Tổng tiền: <span class="price-dc mt-5" style="color: #415EC6;font-size: 22px; font-weight: 900;">3.300.000<span style="text-decoration: underline;">đ</span></span></p>
                    <div class="pt-3 text-right pr-5">
                        <button type="button" class="btn" style="background-color: #068F70; color: #fff;">Mua lại</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>