<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANASPORTS</title>
        <link rel="stylesheet" href="../css/product-single.css">
        <link rel="stylesheet" href="./src/public/font/themify-icons-font/themify-icons/themify-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
		
</head>
<body>
	<div class="container-fluid">
		<div class="container py-3">
			<a style="text-decoration: none; color: #415EC6;" href="#">Áo</a> <span class="bi bi-chevron-compact-right " style="color: #415EC6;"></span><a style="text-decoration: none; color: #415EC6;" href="#">Áo ANTA</a>
		</div>
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<div class="preview-pic tab-content row">
							<a class="left carousel-control col-1 m-auto"  href="#myCarousel" role="button" data-slide="prev">
								<span class="bi bi-chevron-compact-left " style="font-size: 40px; color: #415EC6" aria-hidden="true"></span>
								<span class="sr-only ">Previous</span>
							</a>
							<div class="tab-pane active col-9 m-auto " id="pic-1">
								<img style="border-radius: 15px;"  src="../public/img/Rectangle36.png" />
							</div>
							<div class="tab-pane col-9 m-auto" id="pic-2">
								<img style="border-radius: 15px;"  src="../public/img/Rectangle38.png" />
							</div>
							<div class="tab-pane col-9 m-auto" id="pic-3">
								<img style="border-radius: 15px;"  src="../public/img/Rectangle39.png" />
							</div>
							<div class="tab-pane col-9 m-auto" id="pic-4">
								<img style="border-radius: 15px;"  src="../public/img/Rectangle40.png" />
							</div>
							<a class="right carousel-control   col-1 m-auto" href="#myCarousel" role="button" data-slide="next">
								<span class="bi bi-chevron-compact-right" style="font-size: 40px; color: #415EC6;margin-left: -30px;" aria-hidden="true"></span>
								<span class="sr-only ">Next</span>
							</a>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
							<a class="left carousel-control m-auto" href="#myCarousel" role="button" data-slide="prev">
								<span class="bi bi-chevron-compact-left " style="font-size: 25px; color: #415EC6" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<li class="active" ><a data-target="#pic-1" data-toggle="tab" ><img style="border-radius: 15px;"  src="../public/img/Rectangle361.png" /></a></li>
							<li><a data-target="#pic-2" data-toggle="tab"><img style="border-radius: 15px;"  src="../public/img/Rectangle38.png" /></a></li>
							<li><a data-target="#pic-3" data-toggle="tab"><img style="border-radius: 15px;"  src="../public/img/Rectangle39.png" /></a></li>
							<li><a data-target="#pic-4" data-toggle="tab"><img style="border-radius: 15px;"  src="../public/img/Rectangle40.png" /></a></li>
							<a class="right carousel-control m-auto" href="#myCarousel" role="button" data-slide="next">
								<span class="bi bi-chevron-compact-right " style="font-size: 25px; color: #415EC6" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</ul>
					</div>
					<div class="col-md-6">
						<h3 class="product-title" style="color: #5974D4;">Áo khoác thể thao nữ ANTA </h3>
							<div class="row  pt-2">
								<p class="product-brand col-4">Thương hiệu: <span class="brand" style="color: #069676;">ANTA</span></p>
								<p class="col-1">/</p>
								<p class="product-code col-5">Mã sản phẩm: <span class="code" style="color: #069676;">21022002</span></p>
							</div>
							<div class="product-description " style="font-weight: 500; text-align: justify;">
								<li>Dáng relaxed fit mang lại cảm giác thoải mái, mát mẻ cả ngày dài</li>
								<li>Khóa kéo dọc thân với mũ áo có dây rút tùy chỉnh</li>
								<li>Vải dệt trơn làm từ 100% nylon tái chế ít bám bẩn và dễ dàng vệ sinh, chống nhăn và độ bền cao</li>
								<li>Các túi khóa kéo phía trước giúp tiện lợi chưa và mang theo những vật dụng như chìa khóa, ví...</li>
								<li>Gấu áo và cổ tay co giãn</li>
								<li>Màu sản phẩm: Tím</li>
							</div>
						<h4 class="price my-4 text-center py-3" style="background-color: #E8EBF4;border-radius: 10px;"> <span>1.220.000₫ </span></h4>	
						<h6 class="sizes py-2" >Kích thước:
							<button class="size btn btn-ligh btn-outlined active" style="width: 50px;" type="button"  title="small">S</button>
							<button class="size btn btn-ligh btn-outlined" style="width: 50px;" type="button"  title="medium">M</button>
							<button class="size btn btn-ligh btn-outlined" style="width: 50px;" type="button"  title="large">L</button>
							<button class="size btn btn-ligh btn-outlined" style="width: 50px;" type="button"  title="xtra large">XL</button>
						</h6>
						<div class="row py-4 " > 
							<h6 class="col-3 my-auto">Số lượng:</h6>
							<div class="col-6  count" >
								<div class="input-group" >
									<span class="input-group-btn">
										<button type="button" class="quantity-left-minus btn btn-light btn-number rounded-3" style="left: -11px;" data-type="minus" data-field="">
											<span class="bi bi-dash-lg"></span>
										</button>
									</span>
									<input type="text" id="quantity" name="quantity" class="form-control input-number text-center " style="border: none; " value="1" min="1" max="100">
										<span class="input-group-btn">
											<button type="button" class="quantity-right-plus btn btn-light btn-number rounded-3" style="right: -11px;" data-type="plus" data-field="">
												<span class="bi bi-plus-lg"></span>
											</button>
										</span>
								</div>
							</div>
						</div>
						<h6 class="colors py-2">Màu sắc:
							<span class="color"><button class=" btn btn-ligh btn-outlined active" style="background-image: url(../public/img/Rectangle40.png);height: 50px;width: 50px;" type="button" ></button></span>
							<span class="color"><button class="btn btn-ligh btn-outlined" style="background-image: url(../public/img/Rectangle50.png);height: 50px;width: 50px;" type="button" ></button></span>
						</h6>
						<div class="action pt-2 pb-5">
							<button class="add-to-cart btn btn-act btn-outline-act active " type="button">Thêm vào giỏ</button>
							<button class="buy btn btn-act btn-outline-act " type="button">Mua ngay</button>
						</div>
					</div>
				</div>
			</div>
			<hr class="hr-about container mx-auto col-sm-12 col-md-6 col-lg-6">
			<div class="container pt-5">
				<h5 class="text-center" style="color: #5974D4; font-size: 25px;">HƯỚNG DẪN CHỌN SIZE</h5>
				<img class="img-fluid mx-auto p-3 d-block col-lg-10 col-md-12"  src="../public/img/Rectangle46.png">
				<hr class="hr-about container mx-auto col-sm-12 col-md-6 col-lg-6">
				<h5 class="text-center p-5" style="color: #5974D4; font-size: 25px;">CÁC SẢN PHẨM KHÁC</h5>
				<div class="row container">
					<div class="product-list">
						<div class="row ">
							<div class=" col-md-6 col-lg-3 p-3">
								<div class="product" style="background-color: #E8EBF4; border-radius: 30px; height: 460px;">
									<a href="#" class="img-prod"><img class="img-fluid mx-auto p-3 d-block" src="../public/img/Rectangle13(14).png" alt="Colorlib Template">
									</a>
									<div class="text py-3 px-3">
										<h3><a href="#"  class="card-name">Thảm YOGA tập luyện PUMA màu đen</a></h3>
											<div class="pricing">
												<p class="price"><span class="mr-2 price-dc">919.000</span></p>
											</div>
									</div>
								</div>
							</div>
							<div class=" col-md-6 col-lg-3 p-3">
								<div class="product" style="background-color: #E8EBF4; border-radius: 30px; height: 460px;">
									<a href="#" class="img-prod"><img class="img-fluid mx-auto p-3 d-block" src="../public/img/Rectangle13(3).png" alt="Colorlib Template">
									</a>
									<div class="text py-3 px-3">
										<h3><a href="#" class="card-name">Áo croptop tập luyện nữ PUMA</a></h3>
											<div class="pricing">
												<p class="price"><span class="mr-2 price-dc">630.000</span></p>
											</div>
									</div>
								</div>
							</div>
							<div class=" col-md-6 col-lg-3 p-3">
								<div class="product" style="background-color: #E8EBF4; border-radius: 30px; height: 460px;">
									<a href="#" class="img-prod"><img class="img-fluid mx-auto p-3 d-block" src="../public/img/Rectangle13(10).png" alt="Colorlib Template">
									</a>
									<div class="text py-3 px-3">
										<h3><a href="#"  class="card-name">Đai hỗ trợ quấn gót chân ZAMST</a></h3>
											<div class="pricing">
												<p class="price"><span class="mr-2 price-dc">3.725.000</span></p>
											</div>
									</div>
								</div>
							</div>
							<div class=" col-md-6 col-lg-3 p-3">
								<div class="product" style="background-color: #E8EBF4; border-radius: 30px; height: 460px;">
									<a href="#" class="img-prod"><img class="img-fluid mx-auto p-3 d-block" src="../public/img/Rectangle13(17).png" alt="Colorlib Template">
									</a>
									<div class="text py-3 px-3">
										<h3><a href="#"  class="card-name">Giày tập luyện nam REEBOK</a></h3>
											<div class="pricing">
												<p class="price"><span class="mr-2 price-dc">2.230.000</span></p>
											</div>
									</div>
								</div>
							</div>
							<a href="#" class="text-center" style="color: black;">Xem thêm></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>