*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
}
.Info-signup-signin{
    font-size: large;
}

.form-control{
    border-radius: 10px; 
}
#search-addon{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.shop-brand{
    font-size: 30px;
}

.bi{
    font-size: 24px;
}
article {
    padding-top: 15px;
}

.btn-cart{
    border: none;
    background-color: #FFFFFF;
}

@media (min-width: 992px) {
    .shop-brand{
        font-size: 40px; 
    }
}

@media (max-width: 767px) {
    .header-hotline {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .shop-brand{
        font-size: 24px;
    }
    .bi{
        font-size: 20px;
    }
    .bag {
        font-size: 14px;
    }
}