@media (max-width: 819px) {
    .sign-in-img{
        display: none;
    }
}

.logo-name{
    color: #415EC6;
    font-weight: bold;
}

.signin-form{
    color: #5974D4;
}

.login_oueter {
    width: 360px;
    max-width: 100%;
}
.logo_outer{
    text-align: center;
}
